<div class="container">
    <hr>
    <h1>Homepage Promotion Scheduler</h1>
    <hr>
    <div>
        <div class="row" id="books">
            <ul>
                <% if(data.length > 0) { %>
                  <% for(i=0; i < data.length; i++){ %>
                    <li class="list-group-item list-group-item-success">
                      <%= data[i].ticket %> - <%= data[i].title %> - <%= data[i].startdate %> - <%= data[i].enddate %>
                      <a href="/edit/<%= data[i].id %>"><button type="button" class="btn btn-success">Edit</button></a>
                      <form action="/delete/<%= data[i].id %>" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </li>
                  <% }; %>
                <% }; %>
              </ul>
        </div>
    </div>
</div>